.elements__banner {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    background-color: white;
    padding: 22px 20px 28px 21px;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 282px;
    min-height: 29px;
}