.popup__save {
    background-color: black;
    color: white;
    border: none;
    margin: 0 36px;
    width: 83.25%;
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 2px;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (max-width:655px) {
    .popup__save {
        width: 84%;
        margin: 0 22px 0 22px;
    }
}